affine==3.0.1
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
altair==6.2.2
annotated-types==0.8.0
anyio==4.14.2
async-timeout==5.0.1
attrs==26.1.0
Automat==20.2.0
awscli==1.22.34
babel==2.18.0
backcall==0.2.0
backports.zstd==1.7.0
bcrypt==3.2.0
beautifulsoup4==4.15.0
bleach==6.4.0
blinker==1.9.0
boto3==1.43.108
botocore==1.43.108
branca==0.8.2
brotli==1.2.0
certifi==2026.7.22
cffi==2.1.1
cftime==1.6.5
chardet==4.0.0
charset-normalizer==3.5.0
click==8.5.0
click-plugins==1.1.1.2
cligj==0.7.2
cloud-init==26.1
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.3.2
country_converter==1.3.2
cryptography==50.0.2
cycler==0.12.1
dataclasses-json==0.6.7
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.3.1
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.17.1
dynamic-yaml==2.0.0
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.3.1
faicons==0.2.2
fastjsonschema==2.22.1
filelock==4.0.9
flake8==7.3.0
folium==0.20.0
fonttools==4.63.0
formulaic==1.2.2
frozenlist==1.8.0
gdown==6.4.1
geopandas==1.1.4
google-api-core==2.40.0
google-api-python-client==2.201.0
google-auth==2.59.1
google-auth-httplib2==0.4.4
googleapis-common-protos==1.75.5
great-tables==1.0.0
gsheets==0.6.1
h11==0.16.0
htmltools==0.7.0
httplib2==0.20.2
httptools==0.8.0
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.6.4
importlib_resources==7.1.0
incremental==21.3.0
inflate64==1.0.4
interface_meta==2.0.1
ipdb==0.13.13
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
itsdangerous==2.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.1.6
jmespath==0.10.0
joblib==1.5.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-console==6.4.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
keyring==23.5.0
kiwisolver==1.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==6.1.3
maketables==0.1.9
MarkupSafe==2.0.1
marshmallow==3.26.2
matplotlib==3.10.9
matplotlib-inline==0.1.3
mccabe==0.7.0
mistune==3.3.4
more-itertools==8.10.0
multidict==6.7.1
multimark==0.3.2
multivolumefile==0.2.3
mypy_extensions==1.1.0
narwhals==2.24.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.11.0
nest-asyncio==1.5.4
netCDF4==1.7.4
netifaces==0.11.0
nokap==0.1.0
numpy==2.2.6
oauth2client==4.1.3
oauthlib==3.2.0
openpyxl==3.1.5
opentelemetry-api==1.45.0
owid-catalog==1.2.3
owid-datautils==0.6.7
owid-repack==0.1.10
packaging==26.3
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.1
patsy==1.0.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==12.3.0
platformdirs==4.11.2
prompt-toolkit==3.0.28
propcache==0.5.2
proto-plus==1.29.0
protobuf==7.35.1
psutil==7.2.2
ptyprocess==0.7.0
py==1.10.0
py7zr==1.1.3
pyarrow==24.0.0
pyasn1==0.6.4
pyasn1-modules==0.2.1
pybcj==1.0.8
pycodestyle==2.14.0
pycountry==26.2.16
pycparser==3.0
pycryptodomex==3.23.0
pydantic==2.13.5
pydantic_core==2.46.5
pydeck==0.9.3
PyDrive2==1.21.1
pyfixest==0.60.0
pyflakes==3.4.0
Pygments==2.11.2
PyGObject==3.42.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyogrio==0.13.0
pyOpenSSL==26.4.0
pyparsing==3.3.2
pyppmd==1.3.1
pyproj==3.7.1
pyreadr==0.5.7
pyrsistent==0.18.1
pyserial==3.5
PySocks==1.7.1
python-apt==2.4.0+ubuntu4.1
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.2.0
python-magic==0.4.24
python-multipart==0.0.32
pytz==2022.1
PyYAML==6.0.3
pyzmq==22.3.0
RapidFuzz==3.14.5
rasterio==1.4.4
rasterstats==0.21.0
rdata==0.11.2
requests==2.34.2
roman==3.3
rsa==4.8
s3transfer==0.19.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
SecretStorage==3.3.1
service-identity==18.1.0
shapely==2.1.2
simplejson==4.2.0
six==1.16.0
sos==4.10.2
soupsieve==2.9.2
ssh-import-id==5.11
starlette==1.3.1
statsmodels==0.15.0
streamlit==1.61.1
structlog==26.1.0
systemd-python==234
tabulate==0.10.0
tenacity==9.1.4
texttable==1.7.0
threadpoolctl==3.6.0
tinycss2==1.5.1
toml==0.10.2
tomli==2.4.1
tornado==6.5.10
tqdm==4.70.1
traitlets==5.16.1
Twisted==22.1.0
typing-inspect==0.9.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
ubuntu-pro-client==8001
ufw==0.36.1
Unidecode==1.4.0
uritemplate==4.2.0
urllib3==2.8.0
uvicorn==0.52.1
wadllib==1.3.6
watchdog==6.0.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==16.1.1
wrapt==2.5.0
xarray==2025.6.1
xlrd==2.0.2
xyzservices==2026.3.0
yarl==1.24.5
zipp==1.0.0
zope.interface==5.4.0
